article {
  width: 100%;
  display: flex;
  padding: 48px 0;
  align-items: center;
  flex-direction: column;
}
#article_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  padding: 0;
}
#title_and_desc {
  width: 100%;
  padding: 18px;
}
#a_title_image_cont {
  width: 100%;
  margin: 0;
}
#a_title_image_cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#title_and_desc h1 {
  font-size: 2em;
}
#title_and_desc h1,
#title_and_desc h4 {
  margin: 0 0 18px 0;
}
#title_and_desc span {
  font-size: 0.8em;
}
#a_title_image_cont figcaption {
  width: 100%;
  padding: 0 18px;
  max-width: 650px;
  margin: auto;
}
#a_title_image_cont figcaption p {
  margin: 0;
  font-size: 0.8em;
}
#article_content {
  width: 100%;
  max-width: 650px;
  padding: 0 18px 12px;
}
#article_content p,
#article_content li {
  letter-spacing: 1px;
  line-height: 1.5;
  word-wrap: break-word;
}
#article_content img {
  width: 100%;
}

/* Responsive config */

@media only screen and (min-width: 750px) {
  #article_header {
    flex-direction: row;
    align-items: stretch;
    padding: 0 0 24px 12px;
  }
  #title_and_desc {
    flex: 1 1 300px;
    padding: 0 12px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #a_title_image_cont {
    flex: 1 1 500px;
    position: relative;
    background-color: #999;
  }
  #a_title_image_cont img {
    width: 100%;
    height: 100%;
  }
  #a_title_image_cont figcaption {
    position: absolute;
    bottom: 8px;
    color: #fff;
  }
}

/* Responsive config ends */
