#main {
  width: 100%;
  max-width: 650px;
  margin: auto;
}
#author_info {
  padding: 12px;
  margin: 48px 0;
}

#main p,
#main h1 {
  margin: 0;
}

#norm_articles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
}
.norm_article_cont {
  max-width: 650px;
  padding: 12px 0;
  height: auto;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.norm_article_cont:hover {
  color: #444;
}
#norm_articles hr {
  max-width: 650px;
}
.article_description {
  color: #555;
  display: none;
}
.norm_article_img {
  width: 110px;
  height: 110px;
  flex: 0 0 110px;
  margin-right: 12px;
  object-fit: cover;
  border: #ccc solid 0;
  border-radius: 5px;
  background-color: #999;
  flex: unset;
}
.norm_article_cont summary h3,
.norm_article_cont summary p {
  margin: 0;
  display: inline;
}
.norm_article_cont summary span {
  font-size: 0.8em;
  color: #333;
}

/* Responsive config */

@media only screen and (min-width: 650px) {
  .article_description {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .norm_article_img {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
  }
}

/* Responsive config ends */
