#main_content {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 0 12px 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#more_content_background {
    width: 100%;
    height: auto;
    background-color: #f5f5fc;
    border-top: #eee solid 1px;
}
#more_content {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/* header */
header {
    width: 100%;
    padding: 0 12px;
}
#header_content {
    width: 100%;
    max-width: 1176px;
    margin: auto;
    position: relative;
    flex: 0 0 100%;
    border: #eee solid;
    border-width: 0 0 1px;
}
#date_social_cont {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#social_links {
    padding: 2px;
}
#social_links a svg {
    width: 16px;
    height: 16px;
    margin: 4px 0 4px 16px;
    float: left;
}
#date_today {
    padding: 2px;
    font-size: .8em;
}

#logo {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 12px auto 6px;
}
#logo img {
    width: 100%;
}
/* header ends */

/* Main article */
#main_article_cont {
    width: 100%;
    min-height: 405px;
    display: block;
    position: relative;
    overflow: hidden;
    border: #ccc solid 0;
    border-radius: 5px;
    margin-top: 12px;
}
#main_article_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .3);
}
#main_article_cont summary {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 12px;
    height: auto;
}
#main_article_cont p,h2 {
    display: inline;
    color: #fff;
}
#main_article_cont p {
    line-height: 2;
    font-size: .8em;
}
/* Main article end */

/* Side articles */
#side_articles {
    width: 100%;
    height: auto;
    margin-top: 12px;
    border: #eee solid 1px;
    border-radius: 5px;
    position: relative;
}
.side_article_cont {
    width: 100%;
    padding: 12px;
    height: auto;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.side_article_cont img {
    width: 110px;
    height: 110px;
    margin-right: 12px;
    object-fit: cover;
    border: #ccc solid 0;
    border-radius: 5px;
    background-color: #999;
}
.side_article_cont h4, p {
    display: inline;
}
.side_article_cont p {
    font-size: .8em;
}
#side_articles footer {
    width: 100%;
    padding: 0 12px;
}
#side_articles hr {
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0px solid #eee;
    background-color: #eee;
}
/* Side articles ends */

/* Normal articles */
#norm_articles {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    justify-content: center;
}
.norm_article_cont {
    width: 100%;
    height: auto;
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border: #eee solid 1px;
    border-radius: 5px;
    overflow: hidden;
    margin: 6px;
    flex: 1 1 250px;
    max-width: 350px;
}
.norm_article_img {
    width: 100%;
    max-height: 197px;
    object-fit: cover;
}
.norm_article_cont summary {
    padding: 12px;
}
.norm_article_cont summary h4, p {
    margin: 0;
}
.norm_article_cont summary  p {
    font-size: .8em;
}

/* Normal Articles Ends */

#side_panel {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: #ccc;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
#side_panel a {
    color: #000;
    text-decoration: none;
    padding: 4px 8px;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 12px 6px;
}
#advert_side {
    width: 100%;
    height: 500px;
    background-color: #ddd;
    display: none;
}

/* Responsive config */

@media only screen and (min-width: 550px) {
    /* fixe_me */
}

@media only screen and (min-width: 650px) {
    #main_content, #side_articles {
        align-items: stretch;
    }
    #main_article_cont {
        flex: 3 1 300px;
        margin-right: 12px;
    }
    #side_articles {
        flex: 1 1 300px;
    }
}

@media only screen and (min-width: 800px) {
    #logo {
        margin: 18px auto 0;
    }
    #social_links a svg {
        margin: 4px;
    }
    #more_content {
        flex-direction: row;
        align-items: stretch;
    }
    #side_panel {
        flex: 0 1 180px;
        display: block;
        margin: 6px 0 12px 12px;
        padding: 6px 0 0;
        background-color: unset;
        overflow: auto;
        white-space: normal;
    }
    #side_panel a {
        clear: both;
        float: right;
        margin: 6px;
    }
    #norm_articles {
        flex: 1 1 400px;
    }
}

@media only screen and (min-width: 1000px) {
    #advert_side {
        display: block;
        flex: 0 0 200px;
        margin: 12px 12px 12px 0;
        /* position: sticky;
        position: -webkit-sticky;
        top: 0; */
    }
}

/* Responsive config ends */