{% extends "generaltech/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/article.css' %}" />
{% endblock %}

{% block content %}
<article>
    <header id="article_header">
        <div id="title_and_desc">
            <h1>{{ a_title }}</h1>
            <h4>This is the summary of the given article whose image is on the left side. I think the summary should be
                a little bigger to seem fuller</h4>
            <span id="writer">By Mukul Singh</span>
            <span id="publish_date">
                {{ a_created_on }}
            </span>
        </div>
        <figure id="a_title_image_cont">
            <img src="{{ a_titleImage }}" width="500" />
            <figcaption>
                <p>ISRO</p>
            </figcaption>
        </figure>
    </header>
    <div id="article_content">
        {{ a_text|safe }}
    </div>
</article>
{% endblock %}