<article id="article-{{article.url}}">
    <header id="article_header">
        <div id="title_and_desc">
            <h1>{{ article.title }}</h1>
            <h4>This is the summary of the given article whose image is on the left side. I think the summary should be
                a little bigger to seem fuller</h4>
            <span id="writer">By <a href="{% url 'author_page' article.author.username %}">{{ article.author.name }}</a></span>
            <span><strong>&#183;</strong></span>
            <span id="publish_date">
                {{ article.created_on }}
            </span>
        </div>
        <figure id="a_title_image_cont">
            <img src="{{ article.titleImage }}" width="500" />
            <figcaption>
                <p>ISRO</p>
            </figcaption>
        </figure>
    </header>
    <div id="article_content">
        {{ article.description|safe }}
    </div>
    <footer>
        <div id="article_tags">
            <a href="{% url 'tag_page' 'fix_me' %}">Tag One</a>
            <a href="{% url 'tag_page' 'fix_me' %}">Tag Two</a>
            <a href="{% url 'tag_page' 'fix_me' %}">Tag Three Three</a>
            <a href="{% url 'tag_page' 'fix_me' %}">Tag Four</a></div>
        <div id="share_links">
            <a href="fix_me" class="share_link">
                <svg viewBox="0 0 100 100" width="16" height="16">
                    <use xlink:href="#icon-facebook"></use>
                </svg>
            </a>
            <a href="fix_me" class="share_link">
                <svg viewBox="0 0 100 100" width="16" height="16">
                    <use xlink:href="#icon-twitter  "></use>
                </svg>
            </a>
            <a href="fix_me" class="share_link">
                <svg viewBox="0 0 100 100" width="16" height="16">
                    <use xlink:href="#icon-reddit-alien"></use>
                </svg>
            </a>
            <a href="fix_me" class="share_link">
                <svg viewBox="0 0 100 100" width="16" height="16">
                    <use xlink:href="#icon-envelop"></use>
                </svg>
            </a>
        </div>
    </footer>
    {% if article.inshort %}
    <div class="show_more_cont">
        <button onclick="showFullArticle('{{article.url}}');" class="show_more_btn">
            <p>Read Full Article</p>
        </button>
    </div>
    {% endif %}
</article>