{% extends "generaltech/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/author.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/author.js' %}"></script>
{% endblock %}

{% block content %}
<div id="main">
  <div id="author_info">
    <p>Articles written by</p>
    <h1>{{ author }}</h1>
  </div>
  <div class="norm_articles">
    {% include "generaltech/normal_articles.html" %}
  </div>
  <div class="norm_articles"></div>
</div>
{% endblock %}