{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}General Tech{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700,400&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/lazy_image_load.js' %}"></script>
</head>

<body>
    {% include 'generaltech/base-symbol-defs.svg' %}
    <header>
        <div id="header_content">
            <a id="logo" href="{% url 'index_page' %}">
                <img src="{% static 'image/temp_logo.png' %}" alt="General Tech" />
            </a>
            <div id="header_menu">
                <p id="date_today">{{ date }} </p>
                <button id="sub_newsletter" onclick="showNewsletterSub();">
                    <svg viewBox="0 0 100 100" width="16" height="16">
                        <use xlink:href="#icon-newspaper"></use>
                    </svg>
                    <p>Newsletter</p>
                </button>
                <div id="social_links">
                    <a id="facebook_link" href="fix_me" title="facebook">
                        <svg viewBox="0 0 100 100" width="16" height="16">
                            <use xlink:href="#icon-facebook"></use>
                        </svg>
                    </a>
                    <a id="twitter_link" href="fix_me" title="twitter">
                        <svg viewBox="0 0 100 100" width="16" height="16">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                    <a id="facebook_link" href="fix_me" title="rss">
                        <svg viewBox="0 0 100 100" width="16" height="16">
                            <use xlink:href="#icon-rss"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div id="advert_top"></div>
    {% block content %}{% endblock %}
    <div id="newsletter_sub_cont">
        <div id="newsletter_sub">
            <button id="close_sub_cont_btn" onclick="hideNewsletterSub()">
                <svg viewBox="0 0 16 16" width="16" height="16">
                    <use xlink:href="#icon-clear"></use>
                </svg>
            </button>
            <h2>Enter your email to get a weekly newsletter from us</h2>
            <input type="text" name="sub_email" placeholder="Your Email" /><br>
            <button id="sub_btn">Subscribe</button>
        </div>
    </div>
    <script>
        function showNewsletterSub(){
            document.body.style = "position: fixed;"
            document.getElementById("newsletter_sub_cont").style = "display: flex;"
        }
        function hideNewsletterSub(){
            document.body.style = ""
            document.getElementById("newsletter_sub_cont").style = ""
        }
    </script>
</body>

</html>