{% extends "generaltech/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/index.min.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'generaltech/index-symbol-defs.svg' %}
<div id="main_content">
    <a id="main_article_cont" href="{% url 'article_page' main_article.url %}">
        <img id="article1_img" class="lazy" data-src="{{ main_article.titleImage }}" alt="" />
        <span class="curtain"></span>
        <summary>
            <h2>{{ main_article.title }}</h2><br>
            <p id="writer">By {{ main_article.author.name }}</p>
            <p> · </p>
            <p id="publish_date">
                {{ main_article.created_on }}
            </p>
        </summary>
    </a>
    <div id="side_articles">
        <header>
            <div>
                <svg viewBox="0 0 16 16" width="16" height="16">
                    <use xlink:href="#icon-pencil2"></use>
                </svg>
            </div>
            <p><b>Featured</b></p>
        </header>
        {% for post in featured_posts %}
        <a class="side_article_cont" href="{% url 'article_page' post.url %}">
            <img id="article2_img" class="lazy" data-src="{{ post.titleImage }}" alt="" />
            <summary>
                <h4>{{ post.title }}</h4><br>
                <p id="writer">By {{ post.author.name }}</p>
                <p> · </p>
                <p id="publish_date">
                    {{ post.created_on }}
                </p>
            </summary>
        </a>
        {% if not forloop.last %}<footer>
            <hr>
        </footer>{% endif %}
        {% endfor %}
    </div>
</div>
<div id="more_content_background">
    <div id="more_content">
        <div id="side_panel">
            {% for tag in tags %}
            <a href="{% url 'tag_page' tag.slug %}">{{ tag.tag }}</a>
            {% endfor %}
        </div>
        <div id="norm_articles_cont">
            <div class="norm_articles">
                {% include "generaltech/normal_articles.html" %}
            </div>
            <div class="norm_articles"></div>
        </div>
        <div id="advert_side" style="display: none!important;"></div>
    </div>
</div>
<footer>

</footer>
{% endblock %}