{% extends "generaltech/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
{% include 'generaltech/index-symbol-defs.svg' %}
<div id="main_content">
    <a id="main_article_cont" href="{% url 'article' main_article.url %}">
        <img id="article1_img" src="{{ main_article.titleImage }}" alt="fix_me" />
        <span class="curtain"></span>
        <summary>
            <h2>{{ main_article.title }}</h2><br>
            <p id="writer">{{ main_article.author }}</p>
            <p> · </p>
            <p id="publish_date">
                {{ main_article.created_on }}
            </p>
        </summary>
    </a>
    <div id="side_articles">
        <header>
            <div>
                <svg viewBox="0 0 100 100" width="16" height="16">
                    <use xlink:href="#icon-pencil2"></use>
                </svg>
            </div>
            <p><b>Featured</b></p>
        </header>
        {% for post in featured_posts %}
        <a class="side_article_cont" href="{% url 'article' post.url %}">
            <img id="article2_img" src="{{ post.titleImage }}" alt="fix_me" />
            <summary>
                <h4>{{ post.title }}</h4><br>
                <p id="writer">{{ post.author }}</p>
                <p> · </p>
                <p id="publish_date">
                    {{ post.created_on }}
                </p>
            </summary>
        </a>
        {% if not forloop.last %}<footer>
            <hr>
        </footer>{% endif %}
        {% endfor %}
    </div>
</div>
<div id="more_content_background">
    <div id="more_content">
        <div id="side_panel">
            <a href="{% url 'tag' 'fix_me' %}">Tag One</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Two</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Three Three</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Four</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Five</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Six</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag One</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Two</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Three</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Four</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Five</a>
            <a href="{% url 'tag' 'fix_me' %}">Tag Six</a>
        </div>
        {% include "generaltech/normal_articles.html" %}
        <div id="advert_side"></div>
    </div>
</div>
<footer>

</footer>
{% endblock %}