{% for post in posts %}
<a class="norm_article_cont" href="{% url 'article_page' post.url %}">
  <img class="norm_article_img lazy" data-src="{{ post.titleImage }}" alt="" />
  <div class="article_summary">
    <h3>{{ post.title }}</h3>
    <div class="article_details">
      {% if post.shortDescription %}
      <div class="article_description">
        <p>{{ post.shortDescription }}</p>
      </div>
      {% endif %}
      <span class="article_writer">By {{ post.author.name }}</span>
      <span class="interpunct"> · </span>
      <span class="article_publish_date">{{ post.created_on }}</span>
    </div>
  </div>
</a>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}