{% extends "generaltech/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
{% endblock %}

{% block content %}
<header>
    <a id="logo" href="{% url 'index' %}">
        <img src="{% static 'image/temp_logo.jpg' %}" alt="General Tech" />
    </a>
    <div id="social_links">
        <a id="facebook_link" href="fix_me">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-facebook"></use>
            </svg>
        </a>
        <a id="twitter_link" href="fix_me">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-twitter"></use>
            </svg>
        </a>
        <a id="facebook_link" href="fix_me">
            <svg viewBox="0 0 100 100">
                <use xlink:href="#icon-rss"></use>
            </svg>
        </a>
    </div>
</header>
<a id="main_article_cont" href="{% url 'article' 'article_url' %}">
    <div id="main_article">
        <div class="image_cont">
            <img id="article1_img" src="{% static 'image/placeholder-image.jpg' %}" alt="google stadia" />
        </div>
        <span class="curtain"></span>
        <summary>
            <h2>This is the title of this article. I want the title to be long for testing purposes</h2><br>
            <p id="publish_date">Today</p><p> · </p><p id="writer">Mukul Singh</p>
        </summary>
    </div>
</a>
<div id="side_articles">
    <a class="side_article_cont" href="fix_me">
        <div class="image_cont small_image_cont">
            <img id="article2_img" src="{% static 'image/placeholder-image.jpg' %}" alt="google stadia" />
        </div>
        <summary>
            <h3>This is the title of this article. I want the title to be long for testing purposes</h3><br>
            <p id="publish_date">Today</p><p> · </p><p id="writer">Mukul Singh</p>
        </summary>
    </a>
    <span class="side_article__separator"></span>
    <a class="side_article_cont" href="fix_me">
        <div class="image_cont small_image_cont">
            <img id="article2_img" src="{% static 'image/placeholder-image.jpg' %}" alt="google stadia" />
        </div>
        <summary>
            <h3>This is the title of this article. I want the title to be long for testing purposes</h3><br>
            <p id="publish_date">Today</p><p> · </p><p id="writer">Mukul Singh</p>
        </summary>
    </a>
    <span class="side_article__separator"></span>
    <a class="side_article_cont" href="fix_me">
        <div class="image_cont small_image_cont">
            <img id="article2_img" src="{% static 'image/placeholder-image.jpg' %}" alt="google stadia" />
        </div>
        <summary>
            <h3>This is the title of this article. I want the title to be long for testing purposes</h3><br>
            <p id="publish_date">Today</p><p> · </p><p id="writer">Mukul Singh</p>
        </summary>
    </a>
</div>
<div id="norm_articles">
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>

</div>
{% endblock %}