#main_content {
    width: 1200px;
    height: auto;
    margin: auto;
    padding: 0 16px 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 720px 432px;
}
#more_content_cont {
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    border-top: #f9f9f9 solid 1px;
}
#more_content {
    width: 1200px;
    height: auto;
    margin: auto;
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 210px 716px 210px;
}
/* header */
header {
    width: 100%;
    border: #eee solid;
    border-width: 0 0 1px;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
}
#date_social_cont {
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    margin: 4px;
    display: grid;
    grid-template-columns: 50% 50%;
}
#social_links {
    position: absolute;
    bottom: 0;
    right: 0;
}
#social_links a svg {
    width: 16px;
    height: 16px;
    margin: 4px;
    float: left;
}
#date_today {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
    font-size: .8em;
}

#logo {
    width: 460px;
    display: block;
    margin: auto;
    position: relative;
}
/* header ends */

/* Main article */
#main_article_cont {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border: #ccc solid 0;
    border-radius: 5px; 
}
#main_article_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.curtain {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .4);
}
#main_article_cont summary {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 12px;
    height: auto;
}
#main_article_cont p,h2 {
    display: inline;
    color: #fff;
}
#main_article_cont p {
    line-height: 2;
    font-size: .8em;
}
/* Main article end */

/* Side articles */
#side_articles {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: #eee solid 1px;
    border-radius: 5px;
    position: relative;
}
.side_article_cont {
    width: 100%;
    height: auto;
    display: block;
    color: #000;
    position: relative;
}
.side_article_cont img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin: 12px;
    border: #ccc solid 0;
    border-radius: 5px;
    background-color: #999;
}
.side_article_cont h4, p {
    display: inline;
}
.side_article_title {
    max-height: 150px;
    overflow: hidden;
}
.side_article_cont p {
    font-size: .8em;
}
.side_article_cont summary {
    width: 100%;
    height: auto;
    top: 0;
    position: absolute;
    padding: 12px 12px 12px 134px;
    overflow: hidden;
}
#hor_separators {
    position: absolute;
    padding: 0 12px;
    width: 100%;
    height: 404px;
}
#hor_separators hr {
    width: 100%;
    height: 1px;
    margin: 134px 0;
    border: 0px solid #eee;
    background-color: #eee;
}
/* Side articles ends */

/* Normal articles */
.norm_article_cont {
    width: 100%;
    height: auto;
    display: block;
    background-color: #fff;
    color: #000;
    border: #eee solid 1px;
    border-radius: 5px;
    overflow: hidden;
}
#norm_articles {
    width: 716px;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 350px 350px;
}
.norm_article_img {
    width: 100%;
}
.norm_article_cont summary {
    padding: 12px;
}
.norm_article_cont summary h4, p {
    margin: 0;
}
.norm_article_cont summary  p {
    font-size: .8em;
}

/* Normal Articles Ends */

#side_panel {
    width: 100%;
    height: 100%;
    position: sticky;
}
#side_panel a {
    color: #000;
    text-decoration: none;
    clear: both;
    float: right;
    display: inline-block;
    padding: 6px 8px;
    margin: 6px;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 5px; 
}
#advert_side {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

/* Responsive config */

/* For tablets */
@media only screen and (max-width: 1024px) {
    #date_social_cont {
        position: relative;
    }
    #main_content {
        width: 100%;
        padding: 0 1.5vw 1.5vw;
        grid-gap: 1.5vw;
        grid-template-columns: 49.5vw 46vw;
    }
    #more_content {
        width: 100%;
        padding: 1.5vw;
        grid-gap: 1.5vw;
        grid-template-rows: auto auto 34px;
        grid-template-columns: 100%;
    }
    #norm_articles {
        width: 716px;
        margin: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #more_content {
        padding: 0;
    }
    #side_panel {
        padding: 0 16px;
        background-color: #ccc;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    #side_panel a {
        display: inline-block;
        margin: 12px 6px;
        clear: none;
        float: none;
    }
}
/* For Tablets ends */
/* For mobiles */
@media only screen and (max-width: 600px) {
    #main_content {
        width: 100%;
        padding: 0 2vw 2vw;
        grid-gap: 2vw;
        grid-template-columns: 100%;
    }
    header {
        grid-column-end: 2;
    }
    #main_article_cont {
        height: 404px;
    }
    #side_panel {
        padding: 0 16px;
        background-color: #ccc;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    #side_panel a {
        display: inline-block;
        margin: 12px 6px;
        clear: none;
        float: none;
    }
}
/* For mobiles ends */

/* Responsive config ends */