@import './variables';

body {
  width: 100%;
  margin: 0;
  background-color: $background_color;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
}

h5, h6, p, a, li, span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
a, button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
p {
  font-size: 1.1em;
}
#advert_top {
  width: 100%;
  height: auto;
  background-color: #ddd;
}
hr {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0px solid $border_color;
  background-color: $border_color;
}

img.lazy {
  opacity: 0;
}


header {
  width: 100%;
  padding: 0 $standard_sep;

  #header_content {
    width: 100%;
    max-width: $max_cont_width - $standard_sep*2;
    margin: auto;
    padding-top: $standard_sep;
    position: relative;
    flex: 0 0 100%;
    border: $border_color solid;
    border-width: 0 0 1px;

    #logo {
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 0 auto 6px;
      img {
        width: 100%;
      }

      @media only screen and (min-width: $page_width_lim2) {
        margin: 0 auto 0;
      }
    }

    #header_menu {
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      #date_today {
        padding: 2px;
        margin: 0;
        font-size: 0.8em;
      }
      #sub_newsletter {
        display: block;
        background-color: $background_color;
        border: 0;
        text-decoration: none;
        margin-left: auto;
        color: $font_color;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px;
        cursor: pointer;
        svg {
          margin-right: 4px;
        }
        p {
          display: inline;
          margin: 0;
        }
      }

      #social_links {
        padding: 2px;
        flex-shrink: 0;
        a {
          display: inline-block;
          text-decoration: none;
          width: 18px;
          height: 18px;
          margin: 4px 0 4px 12px;
          svg {
            width: 100%;
            height: 100%;
            fill: $font_color_light;
          }
        }
      }
    }

    @media only screen and (min-width: $page_width_lim2) {
      padding-top: 28px;
    }
  }
}

#newsletter_sub_cont {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
  #newsletter_sub {
    width: 100%;
    max-width: 600px;
    margin: 12px;
    padding: 24px;
    padding-right: 40px;
    background-color: $background_color;
    border-radius: 5px;
    position: relative;
    #close_sub_cont_btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      align-items: center;
      svg {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 16px;
        height: 16px;
      }
    }
    h2 {
      margin: 0;
    }
    input {
      width: 20em;
      padding: 8px;
      margin-top: 24px;
      border: 1px solid $border_color_dark;
      border-radius: 3px;
    }
    #sub_btn {
      margin-top: 24px;
      background-color: $accent_color;
      border: 1px solid $border_color;
      border-radius: 3px;
      color: $font_color_neg_dark;
      cursor: pointer;
      padding: 8px;
      font-size: 1.2em;
    }
  }
}