// Colors
$background_color: #fff;
$border_color: #e8e8e8;
$border_color_dark: #ccc;
$font_color_neg: #fff;
$font_color_neg_dark: #ddd;
$font_color: #000;
$font_color_light: #333;
$font_color_lighter: #555;
$accent_color: #7c19ff;

// Dimensions
$max_cont_width: 1200px;
$standard_sep: 12px;
$border_radius: 5px;
$normal_articles_width: 800px;
$smaller_font: .8em;
$article_cont_width: 650px;
$article_cont_separation: 18px;

// Page Widths
$page_width_lim1: 550px;
$page_width_lim2: 650px;
$page_width_lim3: 750px;
$page_width_lim4: 800px;
$page_width_lim5: 1000px;