@import './base';
@import './variables';

#main_content {
  width: 100%;
  max-width: $max_cont_width;
  margin: auto;
  padding: 0 $standard_sep $standard_sep;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  #main_article_cont {
    width: 100%;
    min-height: 405px;
    display: block;
    position: relative;
    overflow: hidden;
    border: $border_color solid 0;
    border-radius: 5px;
    margin-top: $standard_sep;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    .curtain {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
    }

    summary {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: $standard_sep;
      height: auto;

      p,
      h2 {
        display: inline;
        color: $font_color_neg;
      }
      p {
        line-height: 2;
        font-size: $smaller_font;
      }
    }

    @media only screen and (min-width: $page_width_lim2) {
      flex: 3 1 300px;
      margin-right: $standard_sep;
    }
  }

  #side_articles {
    width: 100%;
    height: auto;
    margin-top: $standard_sep;
    border: 1px solid $border_color;
    border-radius: $border_radius;
    position: relative;

    header {
      padding: $standard_sep;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid $border_color;

      div {
        width: 28px;
        height: 28px;
        padding: 5px;
        margin-left: 8px;
        border: 1px solid $font_color_light;
        border-radius: 3px;
        svg {
          fill: $font_color_light;
        }
      }
      p {
        display: inline;
        margin: 0;
        margin-left: 8px;
      }
    }
    
    .side_article_cont {
      width: 100%;
      padding: $standard_sep;
      height: auto;
      color: $font_color;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 90px;
        max-width: 90px;
        height: 90px;
        flex: 0 0 90px;
        margin-right: $standard_sep;
        object-fit: cover;
        border: $border_color solid 0;
        border-radius: $border_radius;
      }
      h4, p {
        display: inline;
      }
      p {
        font-size: $smaller_font;
      }
    }
    
    @media only screen and (min-width: $page_width_lim2) {
      align-items: stretch;
      flex: 1 1 300px;
    }

  }

  @media only screen and (min-width: $page_width_lim2) {
    align-items: stretch;
  }
}

#more_content_background {
  width: 100%;
  /* background-color: #f5f5fc; */
  background-color: $background_color;
  border-top: $border_color solid 1px;

  #more_content {
    width: 100%;
    max-width: $max_cont_width;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #norm_articles_cont {
      @import './normal_articles';

      @media only screen and (min-width: $page_width_lim1) {
        flex: 0 1 $normal_articles_width;
      }
    }

    #advert_side {
      width: 100%;
      height: 500px;
      background-color: #ddd;
      display: none;
    
      @media only screen and (min-width: $page_width_lim5) {
        display: block;
        flex: 0 1 200px;
        margin: $standard_sep*2 $standard_sep $standard_sep;
      }
    }

    @media only screen and (min-width: $page_width_lim1) {
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
  }

  #side_panel {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: #ddd;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    a {
      color: #000;
      text-decoration: none;
      padding: 4px 8px;
      background-color: #fff;
      border: #ccc solid 1px;
      border-radius: $border_radius;
      display: inline-block;
      margin: 12px 6px;
      font-size: 0.9em;
  
      p {
        display: inline;
      }

      @media only screen and (min-width: $page_width_lim1) {
        clear: both;
        float: right;
        margin: 6px;
      }
    }

    @media only screen and (min-width: $page_width_lim1) {
      flex: 0 1 180px;
      display: block;
      margin: $standard_sep 0 $standard_sep $standard_sep;
      padding: $standard_sep/2 $standard_sep/2 0 0;
      background-color: unset;
      overflow: auto;
      white-space: normal;
    }
  }
  
}
